BasedOnStyle: Google

IndentWidth: 4
ColumnLimit: 100
TabWidth: 4
UseTab: Never
AccessModifierOffset: 0
IndentAccessModifiers: true

BreakBeforeBraces: Attach

PointerAlignment: Left

SpaceAfterCStyleCast: true
SpacesInParentheses: false
SpacesInSquareBrackets: false

SortIncludes: true
IncludeBlocks: Regroup

AllowShortFunctionsOnASingleLine: Inline

AlignAfterOpenBracket: Align
